body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #082781;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4016be;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#greeting {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}
